# Virtual Environments
.venv/
venv/

# Databases and Data
chroma_db/
Data/

# Python Cache
__pycache__/
*.pyc

# Environment Variables (if you ever add API keys later)
.env
# Private Chat History
chats.json

# IDEs and Node
.idea/
node_modules/
mobile_app/node_modules/

