fastapi
uvicorn
pydantic
requests
langchain-community
langchain-text-splitters
chromadb
sentence-transformers
pypdf
python-multipart
docx2txt
python-pptx
openpyxl
pymupdf
pytesseract

unstructured[xlsx,pptx]
msoffcrypto-tool
pandas
